@media only screen and (max-width: 899px){
    #wrapper{
        width: 800px;
        margin: 0 auto;
    }
    #nutr1{
       width: 800px;
       height: 533px;
    }
    #nutr2{
        width: 800px;
        height: 472px;
    }
    #nutr3{
        width: 800px;
        height: 472px;
    }
    ul li{
        margin-left: 35px;
        margin-left: 35px;
    }
    .header{
        width: 800px;
    }
   
}

@media only screen and (max-width: 799px){
    #wrapper{
        width: 700px;
        margin: 0 auto;
    }
    #nutr1{
       width: 700px;
       height: 466px;
       
    }
    #nutr2{
        width: 700px;
        height: 413px;
     
    }
    #nutr3{
        width: 700px;
        height: 413px;
     
    }
    ul li{
        margin-left: 35px;
        margin-right: 35px;
    }
    .header{
        width: 700px;
    }
}

@media only screen and (max-width: 699px){
    #wrapper{
        width: 600px;
        margin: 0 auto;
    }
    #nutr1{
       width: 600px;
       height: 400px;
       
    }
    #nutr2{
        width: 600px;
        height: 354px;
     
    }
    #nutr3{
        width: 600px;
        height: 354px;
     
    }
    ul li{
        margin-left: 25px;
        margin-right: 25px;
    }
    .header{
        width: 600px;
    }
}
@media only screen and (max-width: 599px){
    #wrapper{
        width: 500px;
        margin: 0 auto;
    }
    #nutr1{
       width: 500px;
       height: 333px;
       
    }
    #nutr2{
        width: 500px;
        height: 295px;
     
    }
    #nutr3{
        width: 500px;
        height: 295px;
     
    }
    ul li{
        margin-left: 18px;
        margin-right: 18px;
    }
    .header{
        width: 500px;
    }
   
}

@media only screen and (max-width: 499px){
    #wrapper{
        width: 400px;
        margin: 0 auto;
    }
    #nutr1{
       width: 400px;
       height: 266px;
       
    }
    #nutr2{
        width: 400px;
        height: 236px;
     
    }
    #nutr3{
        width: 400px;
        height: 236px;
     
    }
    ul li{
        margin-left: 35px;
        margin-right: 35px;
    }
    .header{
        width: 400px;
    }
    .pcVariant{
        visibility: hidden;
    }
    .dropbtn{
        visibility: visible;
    }
    .dropdown{
        visibility: visible;
    }

}


@media only screen and (max-width: 399px){
    #wrapper{
        width: 300px;
        margin: 0 auto;
    }
    #nutr1{
       width: 300px;
       height: 200px;
    }
    #nutr2{
        width: 300px;
        height: 177px;
    }
    #nutr3{
        width: 300px;
        height: 177px;
    }
    .pcVariant{
        visibility: hidden;
    }
    .header{
        width: 300px;
    }
    .dropbtn{
        visibility: unset;
    }
    .dropdown{
        visibility: unset;
    }
   
}

@media only screen and (max-width: 299px){
    #wrapper{
        width: 260px;
        margin: 0 auto;
    }
    #nutr1{
       width: 260px;
       height: 173px;
       
    }
    #nutr2{
        width: 260px;
        height: 153px;
     
    }
    #nutr3{
        width: 260px;
        height: 153px;
     
    }
    .pcVariant{
        visibility: hidden;
    }
    .header{
        width: 260px;
    }
    .dropbtn{
        visibility: visible;
    }
    .dropdown{
        visibility: visible;
    }

}

@media only screen and (max-width: 259px){
    #wrapper{
        width: 200px;
        margin: 0 auto;
    }
    #nutr1{
       width: 200px;
       height: 133px;
       
    }
    #nutr2{
        width: 200px;
        height: 118px;
     
    }
    #nutr3{
        width: 200px;
        height: 118px;
     
    }
    .pcVariant{
        visibility: hidden;
    }
    .header{
        width: 200px;
    }
    .dropbtn{
        visibility: visible;
    }
    .dropdown{
        visibility: visible;
    }

}