*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-color: rgb(41, 37, 37);
    color: white;
}
#wrapper{
    width: 900px;
    margin: 0 auto;
}
h2{
    padding-bottom: 20px;
    font-size: 40px;
}
.header{
    background-color: #252933;
    display: block;
    height: 40px;
    width: 100%;
    padding-top: 20px;
}
ul{
   text-align: center;
}
li:hover{
    color: gray;    
    transition: all;
    transition: .2s;
}

ul li{
    display: inline;
    margin-left: 45px;
    margin-right: 45px;
    cursor: pointer;
    color: white;
    transition: all;
    transition: .4s;
    font-family: Cambria, Cochin, Georgia, Times, 'Calibri', serif;
}

.main{
    margin-top: 20px;
}
#mainPic{
    height: 530px;
    width: 900px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#mainPic2{
    height: 530px;
    width: 900px;
    padding-top: 15px;  
    padding-bottom: 15px;
}
